.navWrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15%;
  min-height: 100vh;
  background-color: #753ffd;
  padding: 2rem 1rem 1rem 1rem;
  transition: transform 1s;
}

.navbar {
  transform: translateX(-100%);
}

.nav_btn {
  position: absolute;
  transform: translateX(38px);
  top: 20px;
  right: 0;
  width: 40px;
  height: 60px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #753ffd;
  outline: none;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 5px 10px;
  cursor: pointer;
  color: #fff;
}

.navlink {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  padding: 10px 1rem;
  border-radius: 5px;
  margin-bottom: 5px;
}

.navlink:hover {
  background-color: #afb4ff;
  color: #4e4e4e;
}

.navul {
  list-style-type: none;
}

.navlink span {
  margin-left: 10px;
}

.navtop {
  margin-top: 10rem;
}

@media (max-width: 600px) {
  .navWrapper {
    width: 80% !important;
  }
}
